$font-size-base: 0.8125rem !default;
$primary: #1a73e8 !default;
$secondary: #4285F4 !default;
$success: #0b8043 !default;
$info: rgba(0, 0, 0, .54) !default;
$warning: #f2a600 !default;
$danger: #d50000 !default;

// @import "~bootstrap/scss/bootstrap";
@import '~mdb-ui-kit/src/scss/mdb.free';

.list-group-item {
	color: $gray-800;
}

/*
 * Navbar
 */

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-group {
	margin-bottom: 1rem;
}

.col-actions {
	min-width: 150px;
}

.info-box {
	.item-key {
		min-width: 210px;
	}

}

.json-data,
.error-log {
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 15px;
	max-height: 510px;
	overflow: scroll;
	font-size: 12px;
	line-height: 2;
}

.json-data {
	line-height: 1.2;
	padding: 5px;
	font-size: 10px;
}

abbr {
	border-bottom: 1px dotted $info;
	cursor: pointer;
}

.table {
	font-size: $font-size-base;

	th {
		vertical-align: text-top;
	}

	td,
	&.table-sm td,
	&.table-sm th {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.url {
		width: 25%;
	}

	.node_attributes {
		width: 20%;
	}

	.raw_data {
		width: 130px;
	}

	.name {
		text-align: left;
	}

	.extension-verify-status {
		max-width: 160px;
	}

	.accordion-button {
		padding: 5px 15px;
		background-color: transparent;
		font-weight: bold;
		box-shadow: none !important;
		width: auto;

		&::after {
			margin: auto;
		}
	}
}

.plugin-version,
.theme-version {
	width: 170px;
	text-align: left;

	&:after {
		position: absolute;
		top: 50%;
		right: 1.375rem;
	}
}

.btn-remove-plugin {
	padding: .5rem 1rem;
}

#extension-table {
	.name {
		max-width: 250px;
	}
}

.accordion-collapse > .accordion-body {
	border-color: $primary;
	border-left: 3px solid $primary;
	border-bottom: 3px solid $primary;
	border-radius: 0 0 0 3px;
	margin-bottom: 15px;

	&.error-data {
		border-color: $warning;
	}

}

.form-select-xs {
	padding: 0 3px;
	font-size: 14px;
}

.btn-xs {
	font-size: 10px;
	padding: 3px 7px;
}

#notification-container {
	position: fixed;
	right: 20px;
	top: 60px;
	z-index: 1030;
	background: transparent;

	.toast-close {
		background: inherit;
		border: inherit;
		color: inherit;
		text-align: inherit;
	}
}

.theme-dropdown,
.plugin-dropdown {
	max-height: 190px;
	overflow-y: scroll;
}

@include media-breakpoint-up(md) {
	.sidebar {
		height: calc(100% - 65px);
		position: fixed;
	}
}

.status-waiting {

	.badge {
		@extend .bg-info;
	}

	&.nav-link.active {
		color: $info;
		border-color: $info;
	}
}

.status-active {

	.badge {
		@extend .bg-primary;
	}

	&.nav-link.active {
		color: $primary;
		border-color: $primary;
	}
}

.status-succeeded {

	.badge {
		@extend .bg-success;
	}

	&.nav-link.active {
		color: $success;
		border-color: $success;
	}
}

.status-failed {

	.badge {
		@extend .bg-danger;
	}

	&.nav-link.active {
		color: $danger;
		border-color: $danger;
	}
}

.status-delayed {

	.badge {
		@extend .bg-warning;
	}

	&.nav-link.active {
		color: $warning;
		border-color: $warning;
	}
}

.status-newestjob {

	.badge {
		@extend .bg-primary;
	}

	&.nav-link.active {
		color: $primary;
		border-color: $primary;
	}
}

.header-tools {
	max-width: 720px;
	position: relative;
}

.search-toolbar {
	border-radius: 8px;

	&:focus-within,
	&.has-value {
		background-color: white;

		.input-group-text {
			color: #000;
		}

		.form-control {
			background-color: white;
		}
	}

	.input-group-text {
		color: #fff;
	}

	.input-group {
		border-radius: 8px;
		background-color: rgba($color: #fff, $alpha: 0.1);
		transition: all 0.2s linear;

		.form-control {
			background-color: transparent;
			border: none;
			outline: none;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	.collapse, .collapsing {
		position: absolute;
		width: 100%;
	}
}

.sidebar .nav-link.active {
	color: $primary !important;
	background-color: rgba($color: $primary, $alpha: 0.1);
}
