$primary: #3f51b5 !default;
$secondary: #4285F4 !default;
$success: #0b8043 !default;
$info: rgba(0,0,0,.54) !default;
$warning: #f2a600 !default;
$danger: #d50000 !default;

// @import "~bootstrap/scss/bootstrap";
@import '~mdb-ui-kit/src/scss/mdb.free';

@include media-breakpoint-up(md) {
	.sidebar {
		height: calc( 100vh - 65px );
	}
}

.status-waiting {
	@extend .bg-info;
}

.status-active {
	@extend .bg-primary;
}

.status-succeeded {
	@extend .bg-success;
}

.status-failed {
	@extend .bg-danger;
}

.status-delayed {
	@extend .bg-warning;
}

.status-newestJob {
	@extend .bg-primary;
}

.header-tools {
	min-width: 720px;
}

.search-toolbar .input-group {
	background-color: rgba($color: #fff, $alpha: 0.1);
	border-radius: 8px;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

	.input-group-text {
		color: #fff;
	}

	input[type="search"] {
		background-color: transparent;
		border: none;
		outline: none;
	}

	&:focus-within {
		background-color: white;

		.input-group-text {
			color: #000;
		}

		input[type="search"] {
			background-color: white;
		}
	}
}
