@import "~bootstrap/scss/bootstrap";

body {
	font-size: .875rem;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0;
	/* rtl:raw:
	right: 0;
	*/
	bottom: 0;
	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #727272;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-group {
	margin-bottom: 1rem;
}

.col-actions {
	min-width: 150px;
}

.info-box {
	.item-key {
		min-width: 210px;
	}

}

.json-data,
.error-log {
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 15px;
	max-height: 510px;
	overflow: scroll;
	font-size: 12px;
	line-height: 2;
}

.json-data {
	line-height: 1.2;
	padding: 5px;
	font-size: 10px;
}

abbr {
	border-bottom: 1px dotted #343a40;
	cursor: pointer;
}

.table {

	.url {
		width: 30%;
	}

	.node_attributes {
		width: 20%;
	}

	.raw_data {
		width: 130px;
	}

	.verification_status {
		width: 160px;
	}

	.accordion-button {
		padding: 5px 15px;
		background-color: transparent;
		font-weight: bold;

		&::after {
			margin: 0;
		}
	}
}

#extension-table {
	.name {
		max-width: 400px;
	}
}

.accordion-body {
	border-color: #343a40;
	border-left: 3px solid;
	border-bottom: 3px solid;
	border-radius: 0 0 0 3px;
	margin-bottom: 15px;

	&.validated-url {
		border-color: #007bff;

	}

	&.error-data {
		border-color: #ffc107;
	}

}

.form-select-xs {
	padding: 0 3px;
	font-size: 14px;
}

.btn-xs {
	font-size: 12px;
	padding: 3px 7px;
}

.hiddenRow {
	padding: 0 !important;
}