@layout( 'dashboard/base' )

@section('page')
	<div class="col-md-5 p-lg-5 mx-auto my-5 text-center mt-4">
		<p class="lead fw-normal">No extension found. <small><a href="/admin/extensions/">Go Back</a></small> </p>
	</div>
@endsection