<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>

	{{-- Chart JS --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>

	{{-- Material Icons Web Fonts --}}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{{ style('css/dashboard') }}
</head>
<body>
<header class="sticky-top">
	<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary shadow">
		<div class="container-fluid">
			<button
			class="navbar-toggler collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
				<span class="material-icons align-middle navbar-brand me-0">menu</span>
			</button>
			<a class="navbar-brand fs-4" href="{{ route('DashboardController.index') }}">AMP-WP Insights</a>

			@!section('header_tools')

			<div class="d-flex align-items-center">
				<ul class="navbar-nav">
					<li class="nav-item text-nowrap">
						<a class="nav-link" href="{{ route('AuthController.logout') }}"><span class="material-icons align-middle navbar-brand me-0 fs-3">logout</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="bg-light border-end col-md-3 col-xl-2 collapse d-md-block py-md-2 sidebar">
			<div class="position-sticky">
				<ul class="nav">
					@each(menuItem in dashboardMenuItems)

					<li class="nav-item py-md-1 w-100">
						@if( menuItem.childs )
							<div class="d-flex justify-content-between rounded-3 overflow-hidden">
								<a
									class="nav-link text-black w-100 {{ menuItem.isActive ? 'active':'' }}"
									href="{{menuItem.url}}"
								>
									{{menuItem.title}}
								</a>
								<a
									class="nav-link accordion-button w-auto p-2 shadow-0 {{ menuItem.isActive ? 'active':'bg-transparent collapsed' }}"
									data-bs-toggle="collapse"
									href="#sub-menu-{{toHyphenated(menuItem.title)}}"
									role="button"
									aria-expanded="false"
									aria-controls="sub-menu-{{toHyphenated(menuItem.title)}}"
								></a>
							</div>
							<ul id="sub-menu-{{toHyphenated(menuItem.title)}}" class="nav collapse {{ menuItem.isActive ? 'show':'' }}">
								@each( item in menuItem.childs )
								<li class="nav-item w-100 ps-2 status-{{toHyphenated(item.title)}}">
									<a class="nav-link text-black rounded-3 pe-2 bg-transparent {{ item.isActive ? 'active':'' }}" href="{{item.url}}">
										<span data-feather="{{item.icon}}"></span>
										{{item.title}}
										<span class="badge float-end invisible">{{0}}</span>
									</a>
								</li>
								@endeach
							</ul>
						@else
							<a href="{{menuItem.url}}" class="nav-link text-black rounded-3 {{ menuItem.isActive ? 'active':'' }}">
								<span data-feather="{{menuItem.icon}}"></span>
								{{menuItem.title}}
							</a>
						@endif
					</li>
					@endeach
				</ul>
			</div>
		</nav>
		<main class="col-md-9 ms-sm-auto col-xl-10 px-md-4">
			<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				@if( dashboardActivePage.parent )
					<h1 class="h2 mb-0">{{dashboardActivePage.parent}}: {{dashboardActivePage.title}}</h1>
				@else
					<h1 class="h2 mb-0">{{dashboardActivePage.title}}</h1>
				@endif
				<div>
					@!section('header_line')
				</div>
			</div>
			<div id="notification-container"></div>
			@!section('page')
		</main>
	</div>
</div>

{{ script('js/dashboard') }}

@!section('script')
</body>
</html>
