<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AMP Comp DB</title>
	{{ style('css/style') }}
</head>
<body>
<main>
	@!section('page')
</main>

{{ script('js/app') }}
</body>
</html>
